@tailwind base;

@tailwind components;

.btn {
  @apply rounded-full py-2 px-4;
}

.btn-gray {
  @apply bg-gray-500 text-white;
}

input::placeholder {
  color: '#A8A2A2'
}
/* used to determine which element can be used to drag it around the screen */
.draggable {
  -webkit-app-region: drag;
}

.clickable {
  -webkit-app-region: no-drag;
}

@tailwind utilities;